/* Content Div Style */
.contentDivStyle {
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 400px;
    background-color: #000;
    padding-left: 40px;
    box-sizing: border-box;
    transition: opacity 0.5s ease-in-out;
    z-index: 24;
    color: gray;
    font-family: monospace;
}

/* New class for full-screen overlay
@media (max-width: 768px) {
    .fullScreenOverlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        min-width: 0; 
        overflow: auto;
        z-index: 100;
        opacity: 0.9;
    }
} */

/* New class for full-screen overlay */
@media (max-width: 768px) {
    body {
        overflow: hidden; /* Disables vertical and horizontal scrolling */
        margin: 0; /* Removes default margin */
        height: 100vh; /* Sets the height to full viewport height */
        width: 100vw; /* Sets the width to full viewport width */
    }
    
    .fullScreenOverlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100%;
        min-width: 0; /* Reset min-width */
        overflow: auto;
        z-index: 24;
        opacity: 0.9;
        background-color: black;
    }
}

/* Circle Small Style */
.circleSmall {
    width: 90px;
    height: 170px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    z-index: 20;
    opacity: 0;
    /* top and left will be set inline due to their dynamic nature */
    /* transform will be set inline due to its dynamic nature */
}

/* Circle Center Style */
.circleCenter {
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    z-index: 40;
    opacity: 0;
    /* top and left will be set inline due to their dynamic nature */
}

/* Left Content Div Style */
.leftContentDivStyle {
    position: absolute;
    right: 100%;
    top: 0;
    min-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    color: gray;
    transition: opacity 0.5s ease-in-out;
    font-family: monospace;
    /* opacity will be set inline due to its dynamic nature */
}

/* Left Left Content Div Style */
.leftLeftContentDivStyle {
    position: absolute;
    right: 200%;
    top: 0;
    min-width: 80px;
    padding: 20px;
    box-sizing: border-box;
    color: gray;
    transition: opacity 0.5s ease-in-out;
    font-family: monospace;
    /* opacity will be set inline due to its dynamic nature */
}

/* Hidden Layer Style */
.hiddenLayerStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 23;
    transition: opacity 0.5s ease-in-out;
    /* opacity and pointer-events will be set inline due to their dynamic nature */
}

/* Button Style */
.buttonStyle {
    padding: 10pt;
    text-transform: uppercase;
    font-size: 10pt;
    color: #373737;
}


/* If you can modify Vienn.js */
.viennContainer {
    width: 100%; /* Full width */
    /* Add any other styling required for Vienn */
}



/* If you cannot modify Vienn.js */
.viennWrapper {
    width: 100%; /* Full width */
    /* Add any other styling required for the wrapper */
}


